<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>HexaSource Web Template</title>
</head>
<body>
{{>navbar}}
 
<!--END OF NAVIGATION-->
      
      <div class="section">
          <h1>WE ENSURE A BETTER EDUCATION <br> FOR A BETTER WORLD</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium corporis, illum, rerum praesentium cupiditate inventore sed vero itaque impedit, recusandae eaque. Eligendi harum, molestias ducimus eum quas ut officia sit?</p>
          
          <a href="#"><button class="btn-1">GET STARTED</button></a>
<!--FEATURES-->
         <div class="features">
             <button>Learn Online Classes</button>
             <button>Latest Courses</button>
             <button>Huge Library</button>
             <button>Practical Exposure</button>
         </div>
<!--END OF FEATURES-->
      </div>
<!--END OF SECTION-->
   </div>
<!--END OF WRAPPER-->
   
<!--SHOWCASE-->
   <showcase>
       <h1>POPULAR COURSES WE OFFER</h1>
       <div id="courses">
           <div class="cs">
               <h3>Computer Science</h3>
               <img src="css/cse.jpg" width="50%" alt="cs">
               <a href="#" ><button class="apply">Apply Here</button></a>
           </div>
           <div class="business">
               <h3>Business Studies</h3>
               <img src="css/business.jpg" alt="business">
               <a href="#" ><button class="apply">Apply Here</button></a>
           </div>
           <div class="journalism">
               <h3>Media and Journalism</h3>
               <img src="css/journalism.jpg" alt="media">
               <a href="#" ><button class="apply">Apply Here</button></a>
           </div>
           <div class="arts">
               <h3>Arts & Humanities</h3>
               <img src="css/arts.jpg" alt="arts">
               <a href="#" ><button class="apply">Apply Here</button></a>
           </div>
           <div class="medical">
               <h3>Medical Science</h3>
               <img src="css/medical.jpg" alt="ms">
               <a href="#" ><button class="apply">Apply Here</button></a>
           </div>
       </div>
   </showcase>
<!--END OF SHOWCASE-->
   
   <footer>
       <p>Copyright &copy; 2021 AnitaBhoi</p>
   </footer>
    
</body>
</html>


















